@{
    ViewBag.Title = "Index";
}

<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>



<script type="text/javascript">
    
    function fn() {
        $("#myDiv").text("234234");
    }
</script>




<div id="myDiv">
    <table><tr><td>0001</td></tr></table>
    &nbsp;&nbsp;&nbsp;123123
    <table><tr><td>0002</td></tr></table>
</div>

<input type="button" value="改变文本" onclick="fn();" />