<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>

    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" source="Runbow_TWS_Web" formatter="Text Formatter" log="Runbow_TWS" machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" fileName="C:\logs\Runbow_TWS_trace.log" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <!--add name="Event Log Listener" /-->
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <dataConfiguration defaultDatabase="TWS" />
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="RedisPath" value="127.0.0.1:6379" />
    <add key="RedisPrefix" value="BackRF:" />
    <!-- log4net Start   -->
    <add key="log4net.Internal.Debug" value="false"/>
    <!--log4net end-->
    <!--<add key="RedisPrefix" value="RunBowWMSTest:" />-->
  </appSettings>

  <connectionStrings>
    <add name="SMS" connectionString="Data Source=192.168.18.241;Initial Catalog=SMS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />
    <!--<add name="DMS" connectionString="Data Source=192.168.18.241;Initial Catalog=DMS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient"/>-->
    <add name="DMS" connectionString="Data Source=192.168.18.241;Initial Catalog=DMSTest;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />
    <!--<add name="TWS" connectionString="Data Source=192.168.18.243,12001;Initial Catalog=TWS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.243,12001;Initial Catalog=TWSTest;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=.,12001;Initial Catalog=TWS;uid=sa;Password=abc123" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.221;Initial Catalog=AKSWMSTest;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.221;Initial Catalog=SH_CSC_WMS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <add name="TWS" connectionString="Data Source=192.168.18.221;Initial Catalog=SH_CSC_WMS_test;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />
    <!--<add name="TWS" connectionString="Data Source=192.168.18.221;Initial Catalog=RunBowWMS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.241;Initial Catalog=RunbowERP;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.10.91,12000;Initial Catalog=RunbowERP;uid=sa;Password=abc123" providerName="System.Data.SqlClient"/>-->
    <!--<add name="TWS" connectionString="Data Source=rm-bp1z5t3j04zk9h24u.sqlserver.rds.aliyuncs.com,3433;Initial Catalog=TWS;uid=sysdb;Password=password01!" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.241;Initial Catalog=RunbowERP;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=180.169.76.194;Initial Catalog=TWS;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <!--<add name="TWS" connectionString="Data Source=192.168.18.249;Initial Catalog=WPTEST;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />-->
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR=yes;IMEX=1'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 8.0;HDR=yes;IMEX=1'" />
  </connectionStrings>

  <log4net>
    <!--一般信息日志-->
    <appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/InfoLog/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="InfoLog"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <!--系统日志-->
    <appender name="SysLog" type="log4net.Appender.RollingFileAppender">
      <file value="Log/SysLog/"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <staticLogFileName value="false"/>
      <datePattern value="yyyyMMdd&quot;.log&quot;"/>
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%date %-5level %message%newline"/>
      </layout>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="SysLog"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
    </appender>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <!--BufferSize为缓冲区大小，只有日志记录超1条才会一块写入到数据库-->
      <bufferSize value="10"/>
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      <connectionString value="Data Source=60.205.222.89,1878;Initial Catalog=BasicFramework;User ID=sysdb;Password=SYSdb;MultipleActiveResultSets=true"/>
      <!--<connectionString value="Data Source=(local);Initial Catalog=BasicFramework;Integrated Security=True;MultipleActiveResultSets=true" />-->
      <commandText value="INSERT INTO SystemLog ([Date], Level,Logger,Message,UserName,Operation,logLevel) values(@log_date,@log_level,@logger,@content,@user,@operation,@logLevel)"/>
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="ADONetAppender"/>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"/>
      <parameter>
        <parameterName value="@log_date"/>
        <dbType value="DateTime"/>
        <layout type="log4net.Layout.RawTimeStampLayout"/>
      </parameter>
      <parameter>
        <parameterName value="@log_level"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger"/>
        <dbType value="String"/>
        <size value="225"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@content"/>
        <dbType value="String"/>
        <size value="500"/>
        <layout type="BasicFramework.Common.LogHelper.CustomLayout">
          <conversionPattern value="%Property{content}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@user"/>
        <dbType value="String"/>
        <size value="50"/>
        <layout type="BasicFramework.Common.LogHelper.CustomLayout">
          <conversionPattern value="%Property{user}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@operation"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="BasicFramework.Common.LogHelper.CustomLayout">
          <conversionPattern value="%Property{operation}"/>
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logLevel"/>
        <dbType value="String"/>
        <size value="100"/>
        <layout type="BasicFramework.Common.LogHelper.CustomLayout">
          <conversionPattern value="%Property{logLevel}"/>
        </layout>
      </parameter>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="InfoLog"/>
      <appender-ref ref="SysLog"/>
      <appender-ref ref="ADONetAppender"/>
    </root>
  </log4net>
  
  <system.web>
    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" timeout="600" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        
        <add assembly="System.Runtime, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />

    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <!--<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />-->
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="1024000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>-->
</configuration>