@{
    ViewBag.Title = "捡货";
}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">
    <meta name="viewport" content="initial-scale=1.0,width=device-width" />
    <script src="~/Assets/JS/jquery-1.11.3.min.js"></script>
    <script src="~/Assets/JS/Layer/layer.js"></script>
    <title>捡货</title>
    <script type="text/javascript">
        $(document).ready(function () {
           
        checkRecNumScan();

        $.ajax({
            type: "Post",
            url: '/Order/GetOrderDetailDelete',
            data: { "OrderNumber": $("#receiptnum").val() },
            async: false,
            dataType: "json",
            success: function (data) {
                if (data.length > 0)
                {
                    $("#hlocation")[0].innerText = "库位条码：" + data[0].Location;
                    $("#harticlesize")[0].innerText = "Article/Size：" + data[0].Article + "/" + data[0].Size;
                    
                    $("#hsku")[0].innerText = "产品条码：" + data[0].SKU;
                    $("#hqty")[0].innerText = "待拣数量：" + (parseInt(data[0].Qty) - parseInt(data[0].QtyPicked));
                    TempLocation = data[0].Location;
                    TempSKU = data[0].SKU;
                }

            },
            error: function (msg) {
                alert("网络连接失败！");
            }

        });
    });
    var NowLocation = "";
    var recnumber = "";
    var receiptmodel;//出库明细
    var AreaName = "";
    var TempLocation = "";
    var TempSKU = "";
    var recidArray = new Array();//如果扫描的是sku，则把receiptmodel的id保存下来，用来加载批次单位，规格等数据
    var objtotal = new Array();//每次扫描有效库位的时候，把objtemp合并后保存到这里，并清空objtemp
    function tdback() {
        history.back(-1);
        }

        function NextScan() {
            $.ajax({
                type: "Post",
                url: '/Order/GetOrderDetailDelete',
                data: { "OrderNumber": $("#receiptnum").val() },
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Location == TempLocation && data[i].SKU == TempSKU) {
                                if (i == data.length - 1) {
                                    layer.confirm('当前已经是最后一个', {
                                        icon: 0,
                                        btn: ['确定']
                                    }, function () {
                                        $("#Scan").select();
                                        layer.closeAll();
                                    });
                                }
                                else {
                                    $("#hlocation")[0].innerText = "库位条码：" + data[i + 1].Location;
                                    $("#harticlesize")[0].innerText = "Article/Size：" + data[i + 1].Article + "/" + data[i + 1].Size;
                                    $("#hsku")[0].innerText = "产品条码：" + data[i + 1].SKU;
                                    $("#hqty")[0].innerText = "待拣数量：" + (parseInt(data[i + 1].Qty) - parseInt(data[i + 1].QtyPicked));
                                    TempLocation = data[i + 1].Location;
                                    TempSKU = data[i + 1].SKU;
                                    $("#qty").val('');
                                    $("#Allqty").val('');
                                    $("#Scan").val('');
                                    $("#location").val('');
                                    $("#sku").val('');
                                    $("#Scan").focus();
                                }
                                return;
                            }
                           
                        }
                       
                    }
                    else {
                        layer.confirm('订单不存在或已完成', {
                            icon: 2,
                            btn: ['确定']
                        }, function () {
                            $("#Scan").select();
                            layer.closeAll();
                        });
                    }

                },
                error: function (msg) {
                    alert("网络连接失败！");
                }

            });
        }
        function LastScan() {
            $.ajax({
                type: "Post",
                url: '/Order/GetOrderDetailDelete',
                data: { "OrderNumber": $("#receiptnum").val() },
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Location == TempLocation && data[i].SKU == TempSKU) {
                                if (i == 0) {
                                    layer.confirm('当前已经是第一个', {
                                        icon: 0,
                                        btn: ['确定']
                                    }, function () {
                                        $("#Scan").select();
                                        layer.closeAll();
                                    });
                                }
                                else {
                                    $("#hlocation")[0].innerText = "库位条码：" + data[i - 1].Location;
                                    $("#harticlesize")[0].innerText = "Article/Size：" + data[i - 1].Article + "/" + data[i - 1].Size;
                                    $("#hsku")[0].innerText = "产品条码：" + data[i - 1].SKU;
                                    $("#hqty")[0].innerText = "待拣数量：" + (parseInt(data[i - 1].Qty) - parseInt(data[i - 1].QtyPicked));
                                    TempLocation = data[i - 1].Location;
                                    TempSKU = data[i - 1].SKU;
                                    $("#qty").val('');
                                    $("#Allqty").val('');
                                    $("#Scan").val('');
                                    $("#location").val('');
                                    $("#sku").val('');
                                    $("#Scan").focus();
                                }
                                return;
                            }

                        }

                    }
                    else {
                        layer.confirm('订单不存在或已完成', {
                            icon: 2,
                            btn: ['确定']
                        }, function () {
                            $("#Scan").select();
                            layer.closeAll();
                        });
                    }

                },
                error: function (msg) {
                    alert("网络连接失败！");
                }

            });
        }
        function ShowOrderDetailNoScan()
        {
            $.ajax({
                type: "Post",
                url: '/Order/GetOrderDetailDelete',
                data: { "OrderNumber": $("#receiptnum").val() },
                async: false,
                dataType: "json",
                success: function (data) {
                    var tablediffs = $("#checkzjtable");
                    $('#checkzjtable tbody').html('');

                    for (var i = 0; i < data.length; i++) {
                        var tr = "<tr style='text-align: left'>" +
                            "<td> " + data[i].SKU + "</td>" +
                            "<td> " + data[i].Location + "</td>" +
                            "<td> " + (parseInt(data[i].Qty) - parseInt(data[i].QtyPicked)) + "</td>" +
                            "</tr > ";
                        tablediffs.append(tr);
                    }
                    layer.open({
                        type: 1,
                        skin: 'layui-layer-rim', //加上边框
                        area: ['320px', '400px'], //宽高
                        content: $("#showzjdata"),
                        end: function () {
                            $("#Scan").select();
                        }
                    });

                },
                error: function (msg) {
                    alert("网络连接失败！");
                }

            });
        }

    //数量回车时
    function ScanQTY(event) {
        if (event.keyCode == 13) {
            //先验证数据是否存在
            var isOk = false;
            $.each(objtotal, function (index, item) {
                //循环获取数据
                if (item[2] == $("#sku").val() && item[3] == $("#upc").val() && item[4] == $("#goodstype").val() && item[5] == $("#lot").val() && item[6] == $("#unit").val() && item[7] == $("#uom").val() && item[9] == $("#location").val()) {

                    isOk = true;
                }
            });
            if (!isOk) {
                alert("请先扫描有效的数据！");
                clearpagedata();
                $("#Scan").focus();
                $("#Scan").select();
                return;
            }
            //再验证数量是否超标
            var isOk2 = false;
            $.each(objtotal, function (index, item) {
                //循环获取数据
                if (item[2] == $("#sku").val() && item[3] == $("#upc").val() && item[4] == $("#goodstype").val() && item[5] == $("#lot").val() && item[6] == $("#unit").val() && item[7] == $("#uom").val() && item[9] == $("#location").val()) {
                    if (item[10] < $("#qty").val()) {
                        isOk2 = true;
                    }
                }
            });
            if (isOk2) {
                alert("捡货数量不能大于订单数量！");
                $("#qty").focus();
                $("#qty").select();
                return;
            }
            //保存数据
            $.ajax({
                type: "Post",
                url: '/Order/UpdateOrderDetailQtyRedisByQtyScan',
                data: { "OrderNumber": $("#receiptnum").val(), "SKU": $("#sku").val(), "Location": $("#location").val(), "Qty": $("#qty").val() },
                async: false,
                dataType: "text",
                success: function (data) {
                    if (data == "") {
                        //UpdateScanData();
                        clearpagedata();
                        $("#Scan").focus();
                        $("#Scan").select();
                        SaveRecdata();
                    }
                    else if (data == "1") {
                        alert("捡货数量不能大于订单数量！");
                    }
                    else {
                        alert(data);
                    }
                },
                error: function (msg) {
                    alert(msg);
                }

            });


            return;
        }
        }
        function checkRecNumScan() {
            var scanreceipt = "";
            if ($("#receiptnum").val() == "") {
                alert("出库单不能为空！");
                $("#receiptnum").focus();
                return;
            }
            scanreceipt = $("#receiptnum").val();
            if (objtotal.length > 0) {
                var havescan = false;
                $.each(objtotal, function (index, item) {
                    if (item[11] > 0) {
                        havescan = true;
                    }
                });
                if (havescan) {
                    if (confirm('有未完成的订单，是否清除？')) {
                        $("#location").val("");
                        $("#sku").val("");
                        $("#qty").val("");
                        $("#lot").empty();
                        $("#unit").empty();
                        $("#uom").empty();
                        $("#goodstype").empty();
                        //$("#lot2").val("");
                        $("#upc").empty();
                        $("#Scan").val("")
                        //$("#receiptnum").val("")
                        receiptmodel.length = 0;//出库明细
                        //var arrayLocation = new Array();
                        //var arraySKU = new Array();

                        objtotal.length = 0;

                        recidArray.length = 0;
                        $("#receiptnum").val(scanreceipt);

                    }
                    else {
                        $("#receiptnum").val(recnumber);
                        $("#Scan").focus();
                        $("#Scan").select();
                        return;
                    }
                }

            }
            //清理界面
            //清空界面数据
            $("#location").val("");
            $("#sku").val("");
            $("#qty").val("");
            $("#lot").empty();
            $("#unit").empty();
            $("#uom").empty();
            $("#goodstype").empty();
            //$("#lot2").val("");
            $("#upc").empty();
            $("#Scan").val("")
            $("#Scan").focus();
            //$("#receiptnum").val("")
            //receiptmodel.length = 0;//出库明细
            //var arrayLocation = new Array();
            //var arraySKU = new Array();

            objtotal.length = 0;

            recidArray.length = 0;
            //获取receiptdetail
            $.ajax({
                type: "Post",
                url: '/Order/GetOrderDetail',
                data: { "OrderNumber": $("#receiptnum").val() },
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        //location.href = "/WMS/ReceiptManagement/ReceiptCreate/?ID=" + ID + "&ViewType=3&Flag=1"
                        receiptmodel = data;
                        $.each(receiptmodel, function (index2, item2) {
                            var totallength = 0;
                            totallength = objtotal.length;
                            objtotal[totallength] = new Array();
                            objtotal[totallength][0] = item2.ID;
                            objtotal[totallength][1] = item2.LineNumber;
                            objtotal[totallength][2] = item2.SKU;
                            objtotal[totallength][3] = item2.UPC;
                            objtotal[totallength][4] = item2.GoodsType;
                            objtotal[totallength][5] = item2.BatchNumber;
                            objtotal[totallength][6] = item2.Unit;
                            objtotal[totallength][7] = item2.Specifications;
                            objtotal[totallength][8] = item2.Area;
                            objtotal[totallength][9] = item2.Location;
                            objtotal[totallength][10] = item2.Qty;
                            objtotal[totallength][11] = 0;
                            objtotal[totallength][12] = item2.QtyPicked;//pickqty
                            objtotal[totallength][13] = item2.BoxNumber;//箱号

                        });
                        recnumber = $("#receiptnum").val();
                        //$("#receiptnum").val(recnumber);
                        $("#Scan").focus();
                        $("#Scan").select();
                    }
                    else {
                        alert("出库单不存在或已完成！");
                        $("#receiptnum").focus();
                        $("#receiptnum").select();
                    }

                },
                error: function (msg) {
                    alert("网络连接失败！");
                }

            });

        }
    function checkRecNum(event) {
        if (event.keyCode == 13) {
            checkRecNumScan();
        }
    }
    //验证数据是否是库位
    function checkLocation(location) {
        var result = false;
        if (objtotal.length > 0) {
            $.each(objtotal, function (index, item) {

                //循环获取数据
                if (item[9] == location) {
                    result = true;
                }
            });
        }
        return result;
    }

        //验证数据是否是箱号
        function checkBoxNumber(boxnumber) {
            var result = false;
            if (objtotal.length > 0) {
                $.each(objtotal, function (index, item) {
                    //循环获取数据
                    if (item[13] == boxnumber) {
                        result = true;
                    }
                });
            }
            return result;
        }
    //验证数据是否是SKU
    function checkSKU(sku) {
        recidArray.length = 0;
        var result = false;
        if (objtotal.length > 0) {
            $.each(objtotal, function (index, item) {
                //循环获取数据

                if ((item[2] == sku || item[3] == sku) && item[9]==NowLocation) {
                    if (recidArray.length <= 0) {
                        recidArray[0] = item[0];
                    }
                    else {
                        var index = recidArray.length;
                        recidArray[index] = item[0];
                    }
                    result = true;

                }
            });
        }
        return result;
    }
    //验证是否完成
    //function checkover() {
    //    var resualt=true;
    //    $.each(objtotal, function (index, item) {
    //        if (item[10] > item[11]) {
    //            resualt = false;
    //        }
    //    });
    //    return resualt;
    //}
  //验证是否完成
  function checkover() {
        var resualt=false;
      $.ajax({
          type: "Post",
          url: '/Order/CheckOrderDetailQtyPickRedisAll',
          data: { "OrderNumber": $("#receiptnum").val() },
          async: false,
          dataType: "text",
          success: function (data) {
              if (data == "") {
                  resualt = true;
              }
              else if (data == "1") {
                  resualt = false;
              }
              else if (data == "3") {
                  alert("Redis数据不存在");
              }
              else {
                  alert(data);

              }

          },
          error: function (msg) {
              alert(msg);
          }

      });
        return resualt;
    }

    //更新捡货数量
    function UpdateScanData() {
        var isOk = false;
        $.each(objtotal, function (index, item) {
            //循环获取数据
            if (item[2] == $("#sku").val() && item[3] == $("#upc").val() && item[4] == $("#goodstype").val() && item[5] == $("#lot").val() && item[6] == $("#unit").val() && item[7] == $("#uom").val() && item[9] == $("#location").val()) {
                item[11] = $("#qty").val();
                isOk = true;
            }
        });
        return isOk;
    }
    //扫描框回车
    function Scan(event) {
        if (event.keyCode == 13) {

            if (receiptnum == "") {
                alert("出库单不能为空！");
                $("#receiptnum").focus();
                return;
            }
            var scanval = $("#Scan").val();
            if (scanval == "") {
                alert("扫描数据不能为空");
                $("#Scan").focus();
                return;
            }
            //if (checkBoxNumber(scanval)) {
            //    $("#BoxNumber").val(scanval);
            //}
             if (checkLocation(scanval)) {

                clearpagedata();
                $("#location").val(scanval);
                NowLocation = scanval;
                $("#Scan").focus();
                 $("#Scan").select();
                 $("#SuccessAudio")[0].play();
                return;
                //if (NowLocation == "")//刚刚开始扫描库位
                //{
                //    //清空界面数据
                //    clearpagedata();
                //    $("#location").val(scanval);
                //    NowLocation = scanval;
                //}
                //else {
                //    //扫描库位 并且有sku数据时，先保存界面数据
                //    if ($("#sku").val() != "" || $("#UPC").Text != "") {
                //        if (!isNaN($("#qty").val())) {
                //            UpdateScanData();
                //        }
                //        else {
                //        }
                //        clearpagedata();
                //        $("#location").val(scanval);
                //        NowLocation = scanval;
                //    }
                //}
            }
            else {
                if (NowLocation == "") {
                    //
                    alert("请先扫描库位！");
                    $("#Scan").focus();
                    $("#Scan").select();
                    return;
                }
                else {
                    if (checkSKU("00" + scanval)) {
                        scanval = "00" + scanval;
                        $("#sku").val(scanval);
                                //数量+1
                                if (chechskuover()) {
                                    alert("该sku已满足,请退回商品！");
                                    //clearpagedata();
                                    $("#Scan").focus();
                                    $("#Scan").select();

                                }
                                else {
                                    //扫描一个SKU更新redis中实收数量
                                    $.ajax({
                                        type: "Post",
                                        url: '/Order/UpdateOrderDetailQtyRedis',
                                        data: { "OrderNumber": $("#receiptnum").val(), "SKU": $("#sku").val(), "Location": $("#location").val() },
                                        async: false,
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.Code == "1") {
                                                $("#SuccessAudio")[0].play();
                                                $("#qty").val(data.data[0].QtyPicked);
                                                $("#Allqty").val(data.data[0].Qty);
                                                $("#Scan").select();
                                                $("#hlocation")[0].innerText = "库位条码：" + $("#location").val();
                                                $("#hsku")[0].innerText = "产品条码：" + $("#sku").val();
                                                $("#hqty")[0].innerText = "待拣数量：" + (parseInt(data.data[0].Qty) - parseInt(data.data[0].QtyPicked));
                                                TempLocation = $("#location").val();
                                                TempSKU = $("#sku").val();
                                                
                                                if (data.data[0].QtyPicked == data.data[0].Qty && SaveRecdata() == false) {
                                                    layer.alert('当前库位已完成，点击进入下一个', {
                                                        skin: 'layui-layer-lan' //样式类名
                                                        , icon: 1
                                                        , closeBtn: 0
                                                        , btn: ['确定'] //单击按钮
                                                        , btn1: function (index, layero) {
                                                            layer.close(index);
                                                           
                                                            $("#Scan").focus(); 
                                                            $.ajax({
                                                                type: "Post",
                                                                url: '/Order/GetOrderDetailDelete',
                                                                data: { "OrderNumber": $("#receiptnum").val() },
                                                                async: false,
                                                                dataType: "json",
                                                                success: function (data) {
                                                                    if (data.length > 0) {
                                                                        $("#hlocation")[0].innerText = "库位条码：" + data[0].Location;
                                                                        $("#harticlesize")[0].innerText = "Article/Size：" + data[0].Article + "/" + data[0].Size;
                                                                                    $("#hsku")[0].innerText = "产品条码：" + data[0].SKU;
                                                                                    $("#hqty")[0].innerText = "待拣数量：" + (parseInt(data[0].Qty) - parseInt(data[0].QtyPicked));
                                                                                    TempLocation = data[0].Location;
                                                                                    TempSKU = data[0].SKU;
                                                                                    $("#qty").val('');
                                                                                    $("#Allqty").val('');
                                                                                    $("#location").val('');
                                                                                    $("#sku").val('');
                                                                        $("#Scan").val('');
                                                                    }  
                                                                    $("#Scan").focus(); 
                                                                },
                                                                error: function (msg) {
                                                                    alert("网络连接失败！");
                                                                }

                                                            });
                                                        },
                                                        success: function (layero) {
                                                            var btn = layero[0].getElementsByClassName('layui-layer-btn')[0].getElementsByTagName('A')[0];
                                                            btn.href = 'javascript:void(0)';
                                                            btn.focus();
                                                        }
                                                    })
                                                }
                                            }
                                            else if (data.Code == "0") {
                                                $("#Audio")[0].play();
                                                $("#Scan").focus();
                                                $("#Scan").select();
                                                layer.confirm('数据不正确', {
                                                    icon: 2,
                                                    btn: ['确定']
                                                }, function () {
                                                   
                                                    layer.closeAll();
                                                });
                                            }
                                            else {
                                                $("#Audio")[0].play();
                                                $("#Scan").focus();
                                                $("#Scan").select();
                                                layer.confirm('异常错误', {
                                                    icon: 2,
                                                    btn: ['确定']
                                                }, function () {

                                                    layer.closeAll();
                                                });
                                            }


                                        },
                                        error: function (msg) {
                                            alert(msg);
                                        }

                                    });
                                    
                                }

 
                    }
                    else {
                        $("#Audio")[0].play();
                        alert("扫描的数据有误！");
                        $("#Scan").focus();
                        $("#Scan").select();
                        return;
                    }
                }
            }

        }
    }
    //验证该SKU是否完成
    function chechskuover() {
        var resualt = false;
        $.each(objtotal, function (index, item) {
            if (item[2] == $("#sku").val() && item[9] == $("#location").val()) {
                $.ajax({
                    type: "Post",
                    url: '/Order/CheckOrderDetailQtyPickRedis',
                    data: { "OrderNumber": $("#receiptnum").val(), "SKU": item[2], "Location": item[9] },
                    async: false,
                    dataType: "text",
                    success: function (data) {
                        if (data == "1") {
                            resualt = true;
                        }
                        else if (data == "2") {
                            alert("Redis数据不存在");
                        }
                        else if (data == "") {
                            resualt = false;
                        }
                        else {
                            alert(data);

                        }

                    },
                    error: function (msg) {
                        alert(msg);
                    }

                });
            }
        });
        return resualt;
    }
    //显示结果
    function showmsg() {
        if ($("#showdata")[0].style.display == 'none') {
            $("#showdata")[0].style.display = 'block';
            $.ajax({
                type: "Post",
                url: '/Order/GetOrderDetailDelete',
                data: { "OrderNumber": $("#receiptnum").val() },
                async: false,
                dataType: "json",
                success: function (data) {
                    if (data.length > 0) {
                        //location.href = "/WMS/ReceiptManagement/ReceiptCreate/?ID=" + ID + "&ViewType=3&Flag=1"
                        receiptmodel = data;
                        $.each(receiptmodel, function (index2, item2) {
                            $.each(objtotal, function (index3, item3) {

                                if (item2.SKU == item3[2] && item2.Location == item3[9])
                                {
                                    item3[12] = item2.QtyPicked;
                                }
                            });

                        });
                    }


                },
                error: function (msg) {
                    alert("网络连接失败！");
                }

            });

            $("#showtable").append("<tr><td  style='width:100px'>SKU</td><td  style='width:100px'>库位</td><td style='width:40px'>订单数</td><td  style='width:40px'>当前数</td><td  style='width:40px'>已捡总数</td></tr>")
            $.each(objtotal, function (index, item) {
                $("#showtable").append("<tr><td >" + item[2] + "</td><td>" + item[9] + "</td><td>" + item[10] + "</td><td>" + item[11] + "</td><td>" + item[12] + "</td></tr>")
            });


        }
    }
    //关闭结果
    function CloseDiv() {
        $("#showdata")[0].style.display = 'none';
        $("#showtable").html("");
        $("#Scan").focus();
        $("#Scan").select();
    }
    function clearpagedata() {
        //清空界面数据
        $("#sku").val("");
        $("#qty").val("");
        $("#lot").empty();
        $("#unit").empty();
        $("#uom").empty();
        $("#upc").empty();
        $("#goodstype").empty();
    }

    //提交数据
        function SaveRecdata(obj) {
         var   result = false;
        if (checkover()) {
            $.ajax({
                type: "Post",
                url: '/Order/SaveRecDataFromRedis',
                data: {
                    "OrderNumber": recnumber
                },
                async: false,
                success: function (data) {
                    if (data == "1") {
                        layer.alert('捡货完成，点击返回', {
                            skin: 'layui-layer-lan' //样式类名
                            , icon: 1
                            , closeBtn: 0
                            , btn: ['确定'] //单击按钮
                            , btn1: function (index, layero) {
                                layer.close(index);
                                window.location.href ="/Order/GetOrderListMain?CustomerID=@ViewBag.CustomerID&WareHouseName=@ViewBag.WareHouseName&WareHouseID=@ViewBag.WareHouseID"
                            },
                            success: function (layero) {
                                var btn = layero[0].getElementsByClassName('layui-layer-btn')[0].getElementsByTagName('A')[0];
                                btn.href = 'javascript:void(0)';
                                btn.focus();
                            }
                        })

                        result = true;

                    }
                    else {
                        alert("捡货提交失败！");
                        result = false;
                    }

                },
                error: function (msg) {
                    alert(msg);
                    result = false;
                }

            });
        }
        else {
            if (obj == "1")
            {
                alert("请先完成捡货");
                result = false;
            }
            }
            return result;
    }
    //根据sku给批次 单位等数据赋值
    function SetvalueBySKu() {

        $("#lot").empty();
        $("#unit").empty();
        $("#uom").empty();
        $("#upc").empty();
        $.each(objtotal, function (index, item) {
            //先给下拉框赋值
            $.each(recidArray, function (index2, item2) {
                if (item[0] == item2 && item[9] == NowLocation) {
                    $("#sku").val(item[2]);
                    //$("#upc").val(item.UPC);
                    if (!isExistOption("upc", item[3])) {
                        $("#upc").append("<option value='" + item[3] + "'>" + item[3] + "</option>");
                    }
                    if (!isExistOption("lot", item[5])) {
                        $("#lot").append("<option value='" + item[5] + "'>" + item[5] + "</option>");
                    }
                    if (!isExistOption("unit", item[6])) {
                        $("#unit").append("<option value='" + item[6] + "'>" + item[6] + "</option>");
                    }
                    if (!isExistOption("uom", item[7])) {
                        $("#uom").append("<option value='" + item[7] + "'>" + item[7] + "</option>");
                    }
                    if (!isExistOption("goodstype", item[4])) {
                        $("#goodstype").append("<option value='" + item[4] + "'>" + item[4] + "</option>");
                    }

                    //$("#unit").append("<option value='" + item.Unit + "'>" + item.Unit + "</option>");
                    //$("#uom").append("<option value='" + item.Specifications + "'>" + item.Specifications + "</option>");
                }
            });
        });
        SetDropdownListValue("upc");
    }
    //根据界面数据 获得扫描数量
    function SetqtyBypage() {
        var isOk = false;
        $.each(objtotal, function (index, item) {
            if (item[2] == $("#sku").val() && item[3] == $("#upc").val() && item[4] == $("#goodstype").val() && item[5] == $("#lot").val() && item[6] == $("#unit").val() && item[7] == $("#uom").val() && item[9] == $("#location").val()) {
                $("#qty").val(item[11]);

                isOk = true;
            }
        });
        return isOk;
    }
    //联动下拉框数据
    function SetDropdownListValue(obj) {
        if (obj == "upc") {

                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val()) {
                        $("#lot").val(item.BatchNumber);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val()) {
                        $("#unit").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val()) {
                        $("#uom").val(item.Uom);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.Specifications == $("#uom").val()) {
                        $("#goodstype").val(item.GoodsType);
                    }
                });
                SetqtyBypage();

        }
        else {
            if (obj.attr("id") == "upc" || obj == "upc") {
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val()) {
                        $("#lot").val(item.BatchNumber);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val()) {
                        $("#unit").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val()) {
                        $("#uom").val(item.Uom);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.Specifications == $("#uom").val()) {
                        $("#goodstype").val(item.GoodsType);
                    }
                });
                SetqtyBypage();
            }
            if (obj.attr("id") == "lot" || obj == "lot") {
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.BatchNumber == $("#lot").val()) {
                        $("#upc").val(item.UPC);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val()) {
                        $("#unit").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val()) {
                        $("#uom").val(item.Uom);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.Specifications == $("#uom").val()) {
                        $("#goodstype").val(item.GoodsType);
                    }
                });
                SetqtyBypage();
            }
            if (obj.attr("id") == "unit" || obj == "unit") {
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.Unit == $("#unit").val()) {
                        $("#upc").val(item.UPC);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.Unit == $("#unit").val()) {
                        $("#lot").val(item.BatchNumber);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val()) {
                        $("#uom").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.Specifications == $("#uom").val()) {
                        $("#goodstype").val(item.GoodsType);
                    }
                });
                SetqtyBypage();
            }
            if (obj.attr("id") == "uom" || obj == "uom") {
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.Uom == $("#uom").val()) {
                        $("#upc").val(item.UPC);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.Uom == $("#uom").val()) {
                        $("#lot").val(item.BatchNumber);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Uom == $("#uom").val()) {
                        $("#unit").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.Specifications == $("#uom").val()) {
                        $("#goodstype").val(item.GoodsType);
                    }
                });
                SetqtyBypage();
            }
            if (obj.attr("id") == "goodstype" || obj == "goodstype") {
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.GoodsType == $("#goodstype").val()) {
                        $("#upc").val(item.UPC);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.GoodsType == $("#goodstype").val()) {
                        $("#lot").val(item.BatchNumber);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.GoodsType == $("#goodstype").val()) {
                        $("#unit").val(item.Unit);
                    }
                });
                $.each(receiptmodel, function (index, item) {
                    if (item.SKU == $("#sku").val() && item.UPC == $("#upc").val() && item.BatchNumber == $("#lot").val() && item.Unit == $("#unit").val() && item.GoodsType == $("#goodstype").val()) {
                        $("#uom").val(item.Specifications);
                    }
                });
                SetqtyBypage();
            }
        }
    }

    function isExistOption(id, value) {
        var isExist = false;
        var count = $('#' + id).find('option').length;
        for (var i = 0; i < count; i++) {
            if ($('#' + id).get(0).options[i].value == value) {
                isExist = true;
                break;
            }
        }
        return isExist;
    }
    //下拉框改变事件
    function ScanFouce(obj) {
        SetDropdownListValue($(obj));
        $("#Scan").select();
        $("#Scan").focus()
    }

    function delTotal(obj) {
        //alert(obj);
        //var arrdel = obj;
        $.each(objtotal, function (index, item) {
            if (obj == item[0]) {
                item[11] = 0;
            }
            //if (arrdel[0] == item[0] && arrdel[1] == item[1] && arrdel[2] == item[2] && arrdel[3] == item[3] && arrdel[4] == item[4] && arrdel[5] == item[5] && arrdel[6] == item[6] && arrdel[7] == item[7]) {
            //    objtotal.splice(index, 1);
            return;
            //}
        }
        );
        $("#showtable").html("");
        $("#showtable").append("<tr><td>SKU</td><td>UPC</td><td>批次</td><td>单位</td><td>规格</td><td>库位</td><td>订单数量</td><td>当前已扫数量</td><td>已捡总数量</td></tr>")
        $.each(objtotal, function (index, item) {
            $("#showtable").append("<tr><td >" + item[2] + "</td><td>" + item[3] + "</td><td>" + item[5] + "</td><td>" + item[6] + "</td><td>" + item[7] + "</td><td>" + item[9] + "</td><td>" + item[10] + "</td><td>" + item[11]+"</td><td>" + item[12] + "</td><td><input type='button' value='删除' onclick=delTotal('" + item[0] + "') ></td></tr>")
        });
        clearpagedata();
    }
    </script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        table {
            font-size: 16px;
            margin: 0 auto;
        }

            table tbody tr td {
                height: 10px;
                line-height: 40px;
            }

            table tr input {
                border: 1px solid #428BCA;
                border-radius: 7px;
                outline: none;
                background: none;
                padding: 5px 0;
            }

            table tr select {
                padding: 5px;
                border-color: #428BCA;
                border-radius: 7px;
                outline: none;
                background: none;
            }
            /*#table tr:nth-child(n+2){
             width: 90%!important;
        }*/
            table img {
                width: 15px;
                height: 21px;
                vertical-align: middle;
            }

        input[type=checkbox], input[type=button] {
            cursor: pointer !important
        }

        input[type=button] {
            background: #428BCA;
            border: none;
            outline: none;
            padding: 5px 0;
            color: white;
            width: 65%;
            border-radius: 15px;
            margin: 0 auto;
            margin-left: 7%;
        }

        #checknumber {
            width: 48%;
            margin-left: 10%;
        }

        .mklo {
            border-right: 1px solid #428BCA;
            border-bottom: 1px solid #428BCA;
            text-align: left;
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
        }

            .mklo td {
                border-left: 1px solid #428BCA;
                border-top: 1px solid #428BCA;
            }

        #showdata {
            font-size: 16px;
        }

        #showdatas {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            display: none;
        }

            #showdatas input {
                margin-top: 20px;
            }

        #showtable {
            border-right: 1px solid #428BCA;
            border-bottom: 1px solid #428BCA;
            width: 100%;
            text-align: center;
        }

            #showtable tbody tr td {
                line-height: 25px !important;
                height: 25px !important;
            }

            #showtable td {
                border-left: 1px solid #428BCA;
                border-top: 1px solid #428BCA
            }
    </style>
</head>
<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0">
    <table style="text-align:left;width:100%;">
        <tr>
            <td style="text-align:right;font-weight:bold;font-size:24px">

                <audio src="~/audio/1.mp3" id="Audio">
                    您的浏览器不支持 audio 标签。
                </audio>
                <audio src="~/audio/success.mp3" id="SuccessAudio">
                    您的浏览器不支持 audio 标签。
                </audio>
            </td>
        </tr>
        <tr>
            <td>库&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;位</td>
            <td><input style="width:250px" id="location" type="text" onkeydown="" disabled="disabled" /></td>
        </tr>
        <tr>
            <td>产品条码</td>
            <td><input style="width:250px" id="sku" type="text" disabled="disabled" /></td>
        </tr>
        <tr>
            <td colspan="2" style="width:300px;">已扫件数/期望总件数</td>
        </tr>
        <tr>
            <td colspan="2">
                <input style="width:100px;" id="qty" type="text" readonly="readonly" disabled="disabled" />
                <input style="width:100px;" id="Allqty" type="text" readonly="readonly" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td>出库单号</td>
            <td>
                <input style="width:250px;" id="receiptnum" value="@ViewBag.OrderNumber" type="text" onkeydown="checkRecNum(event)" disabled="disabled" />
            </td>
        </tr>
        <tr>
            <td>扫&nbsp;&nbsp;描&nbsp;&nbsp;区</td>
            <td>
                <input style="width:250px;border-color:#4cff00" id="Scan" type="text" onkeydown="Scan(event)" />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:left">
                <ul>
                    <li><h3 id="hlocation"></h3></li>
                    <li><h3 id="harticlesize"></h3></li>
                    <li><h3 id="hsku"></h3></li>
                    <li><h3 id="hqty"></h3></li>
                </ul>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center">
                <input style="width:120px;margin-left:5px" onclick="ShowOrderDetailNoScan()" type="button" value="查看待扫描任务">
                <input style="width:80px;margin-left:5px" onclick="NextScan()" type="button" value="下一个">
                <input style="width:80px;margin-left:5px" onclick="LastScan()" type="button" value="上一个">
            </td>
        </tr>
    </table>
    <div id="showdata" style="position: absolute; top: 0px; left: 0px; width: 400px; height: 300px; display: none; background-color: white; border: solid 1px #add9c0;overflow:scroll;">
        <table id="showtable" style="width:410px"></table>
        @*<input type="button" id="saveall" value="提交" onclick="SaveRecdata('1')" style="width: 40%;"/>*@
        <div style="text-align:center"><input type="button" value="关闭" onclick="CloseDiv()" style="width: 50%;" /></div>
    </div>

   

            <div id="showzjdata" style="display:none;width:300px">
                <table class="table table-striped" id="checkzjtable" style="width:300px">
                    <thead>
                        <tr style="text-align:left">
                            <th style="text-align:left">产品条码</th>
                            <th style="text-align:left">库位</th>
                            <th style="text-align:left">待拣数量</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
</body>
    </html>