<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=null" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Runbow.TWS.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <dataConfiguration defaultDatabase="Nike"/>

  <connectionStrings>
    <add name="SMS" connectionString="Data Source=127.0.0.1;Initial Catalog=t;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />
    <add name="DMS" connectionString="Data Source=127.0.0.1;Initial Catalog=t;uid=sysdb;Password=SYSdb" providerName="System.Data.SqlClient" />
    <!--测试-->
    <add name="Nike" connectionString="Data Source=192.168.18.221;Initial Catalog=SH_CSC_WMS_test;uid=sysdb;Password=SYSdb;" providerName="System.Data.SqlClient"/>
    <!--正式-->
    <!--<add name="Nike" connectionString="Data Source=192.168.18.221;Initial Catalog=SH_CSC_WMS;uid=sysdb;Password=SYSdb;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <appSettings>
    <!--接收LF文件的文件夹-->
    <add key="ReceiveFilePath" value="D:\SFTP\NIKEReturn\Receive"/>
    <!--解析成功的文件夹-->
    <add key="SuccessFilePath" value="D:\SFTP\NIKEReturn\Success"/>
    <!--解析文件没问题，数据有问题的文件夹-->
    <add key="FaildFilePath" value="D:\SFTP\NIKEReturn\Faild"/>
    <!--解析报错的文件夹-->
    <add key="ErrorFilePath" value="D:\SFTP\NIKEReturn\Error"/>
    <!--等待发送的文件夹-->
    <add key="SendFilePath" value="D:\SFTP\NIKEReturn\Send"/>
    <!--发送成功的文件夹-->
    <add key="SentFilePath" value="D:\SFTP\NIKEReturn\Sent"/>
    <!--日志文件夹-->
    <add key="LogFilePath" value="D:\SFTP\NIKEReturn\Logs"/>

    <!--解析文件功能是否启用-->
    <add key="IsParsingFile" value="1"/>
    <!--生成文件功能是否启用-->
    <add key="IsBuildFile" value="0"/>
    <!--发送文件功能是否启用-->
    <add key="IsSendFile" value="0"/>
 
    <!--LFSFTP 测试环境配置-->
    <!--<add key="sftpip" value="36.37.32.34"/>
    <add key="sftpport" value="22"/>
    <add key="sftpuser" value="nikerunbow01"/>
    <add key="sftppwd" value="Q-7bEsb7"/>
    <add key="sftpfilepath" value="nikerunbow01-cn-sftp-test/outbox"/>-->

    <!--LFSFTP 正式环境配置-->
    <add key="sftpip" value="36.37.32.33"/>
    <add key="sftpport" value="22"/>
    <add key="sftpuser" value="nikerunbow01"/>
    <add key="sftppwd" value="C+5m2753"/>
    <add key="sftpfilepath" value="nikerunbow01-cn-sftp-prod/outbox"/>

  </appSettings>

</configuration>