@Url.FrameworkJs("ajaxfileupload.js")
@Html.Partial("MsgMask")
<fieldset>
    <legend>Adidas(广州)运单导入说明
    </legend>
    <div id="importInstructionDiv">
        1.请将要导入的数据以excel表格形式进行导入<br />
        2.Excel表格中包括（"客户运单号","箱数","体积","发货时间","目的城市"，"转运单号"）几列<br />
       @*2.Excel表格中包括（"Delivery number","QTY per stage","Volume","Calendar day","City Name"）几列<br />*@
        3.导入后系统中运单数据将以Excel表格数据为准。
    </div>
</fieldset>
<fieldset>
    <legend>选择Excel导入Adidas运单信息
    </legend>
    <div id="importDiv">
        <input type="file" id="importExcel" class="fileImport" name="importExcel" />
        <input type="submit" value="导入" class="fileImport" onclick="return fileImportClick();" />
    </div>
</fieldset>
<fieldset>
    <legend>导入结果
    </legend>
    <div id="outPutResult">
    </div>
</fieldset>