@Url.LoadHighchartsJS()
<fieldset>
    <legend>查询条件</legend>
    <table id="conditionTable">
        <tr>
            <td class="TableColumnTitle">客户名称:
            </td>
            <td>
                @Html.DropDownList("Customer", (IEnumerable<SelectListItem>)ViewBag.Customers)
            </td>
            <td class="TableColumnTitle">年份:
            </td>
            <td>
                <select id="Year">
                    <option value="2013">2013</option>
                    <option value="2014" selected="selected">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                </select>
            </td>
            <td>
                <input type="button" id="Search" value="查询" />
            </td>
        </tr>
    </table>
</fieldset>
<fieldset>
    <legend>统计结果</legend>
    <div id="Container" style="min-width: 700px; height: 400px"></div>
</fieldset>