@{
    Layout = null;
}

@*<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>Content</title>
    @Url.LoadPageCssJs()
    
    
</head>
<body>
    <table class="ContentTable">
        <tr>
            <td id="menu" valign="top">
                @Html.Partial("LeftMenu")
            </td>
            <td id="content" valign="top">
                <iframe name='main' height="100%" width="100%" frameborder="no" scrolling="yes" />
            </td>
        </tr>
    </table>
</body>
</html>*@

