@Url.FrameworkJs("ajaxfileupload.js")
@Html.Partial("MsgMask")

<fieldset>
    <legend>
        @ViewBag.DisplyMessage
    </legend>
    <div id="importDiv">
        @{
            var customers = (IEnumerable<SelectListItem>)ViewBag.Customers;
        }
        选择客户：
        @Html.DropDownList("customer",customers)
        <input type="file" id="importExcel" class="fileImport" name="importExcel" />
        <input type="submit" value="导入" class="fileImport" onclick="return fileImportClick('@ViewBag.Type    ');" />
    </div>
</fieldset>
<fieldset>
    <legend>导入结果(<label id="resultCount">0</label>)
    </legend>
    <div id="outPutResult">
    </div>
</fieldset>