@model Runbow.TWS.Web.Areas.POD.Models.CreditUpdate

@Html.Partial("MsgMask")
@using (Html.BeginForm("CreditUpdate", "Hilti", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
     <fieldset>
    <legend>请选择Excel
    </legend>
    <div id="importDiv">
         <label for="file">Upload File:</label>
         <input type="file" name="fileToUpload" id="importExcel"  class="fileImport" />
         <input type="submit" value="上传更新" name="operateupdate" class="fileImport" onclick="return myfileImportClick();"/>
        <input type="button" value="POD更新" name="PODupdate" class="fileImport" id="UpdateButton"  onclick="myFresh();"/>
    </div>
    </fieldset>
    
    <fieldset>
    <legend>更新结果
    </legend>
    <div id="msg">
        @if(Model.Message!=null)
        {
            @Html.Raw(Model.Message);
        }
    </div>
</fieldset>
}
